[Desktop Entry]
Version=1.0
Type=Application
Name=ThreatGuard Agent
Comment=Cliente de monitoreo ThreatGuard
Exec=/opt/threatguard-agent/start_agent_gui.sh
Icon=/opt/threatguard-agent/icon.png
Terminal=false
Categories=System;Monitor;Security;
Keywords=security;monitor;agent;threatguard;
StartupNotify=true
