---------------------------------------------------------------------------
-- Snort 3 Configuration for ThreatGuard
---------------------------------------------------------------------------

---------------------------------------------------------------------------
-- Paths
---------------------------------------------------------------------------
RULE_PATH = 'C:\\Snort\\rules'

---------------------------------------------------------------------------
-- Network variables
---------------------------------------------------------------------------
HOME_NET = 'any'
EXTERNAL_NET = 'any'

---------------------------------------------------------------------------
-- Output
---------------------------------------------------------------------------
alert_fast = {
    file = true,
    packet = false,
}

---------------------------------------------------------------------------
-- Basic Setup
---------------------------------------------------------------------------
stream = { }
stream_tcp = { }
stream_udp = { }
stream_icmp = { }

normalizer = {
    tcp = {
        ips = true,
    }
}

wizard = { }
http_inspect = { }

---------------------------------------------------------------------------
-- Detection
---------------------------------------------------------------------------
search_engine = { }

---------------------------------------------------------------------------
-- Rules
---------------------------------------------------------------------------
ips = {
    enable_builtin_rules = false,
    include = 'local.rules'
}
